p {
    white-space: pre;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #333399;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #333399;
}

.cards {
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    background-color: lightgray;
}

.cards section{
    border: 2px solid black;
    padding: 10px;
    background-color: #D9D9F3;
    overflow: hidden;
}

.cards section img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

@media screen and (min-width: 32.5em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        display: flex;
        width: 100%;
    }
}


@media screen and (min-width: 950px) {
    .cards {
        width: 1800px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
    }

    .cards section {
        max-width: 320px;
    }

    img {
        display: flex;
        max-width: 200px;
        
    }
}