@media screen and (min-width: 32.5em) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        display: block;
        padding: 30px 0 30px 0;
        margin: 0;
    }

    .navigation li:first-child {
        display: none;
    }

    body, header, nav, main, footer {
        max-width: 950px;
        margin: 0 auto;
    }

    .headings h1 {
        font-size: 2.0rem;
        margin: 0;
    }

    .m {
        font-size: .9rem;
    }

    h2 {
        text-align: left;
    }

    header img {
        height: 160px; 
    }

    footer {
        font-size: 1rem;
    }

}