@media screen and (min-width: 950px) {
    .weatherBox {
        top: 40%;
        left: 30%;
    }

    .weatherBox h1 {
        font-size: 2rem;
    }

    .weatherBox p {
        font-size: 1.2rem;
    }
    
    .description, #high, #chill, .humidity, #speed, .symbol {
        font-size: 1.2rem;
    } 

    .gallerygrid {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
    }

    .gallerygrid figure:hover {
        box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    }
}