@media screen and (min-width: 32.5em) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        display: block;
        padding: 20px 0 20px 0;
        margin: 0;
    }

    .navigation li:first-child {
        display: none;
    }

    body, header, nav, main, footer {
        max-width: 950px;
        margin: 0 auto;
    }

    .headings h1 {
        font-size: 2.0rem;
        margin: 0;
    }

    .m {
        font-size: .9rem;
    }

    h2 {
        text-align: left;
    }

    header img {
        height: 160px; 
    }

    footer {
        font-size: 1rem;
    }

    .forecast-title {
        display: block;
        text-align: center;
    }

    table {
        display: flex;
        justify-content: center;
        width: auto;
        border-collapse: collapse;
    }

    th {
       background-color: #95D5B2;
       color: white;
       margin: 0 auto;
       border: 1px solid black;
    }

    table th, td {
        padding-left: 15px;
        padding-right: 15px;
    }

    table td img {
        max-width: 50px;
        margin: 0 auto;
    }

    .sun {
        border-collapse: collapse;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    table td {
        justify-content: center;
        text-align: center;
        border-collapse: collapse;
    }

    .temp {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .day img {
        width: 20%;
    }

    .article_img {
        width: 350px;
        float:right;
    }

    h1, h2 {
        text-align: center;
    }

    .contact {
        display: flex;
        flex-direction: row;
    }

    .contact-info {
        padding: 10px;
        text-align: left;
    }

    .map {
        width: 300px;
        display: flex;
        border: 1px solid black;
    }

    .weatherBox {
        top: 45%;
        left: 10%;
    }

    .weatherBox h1 {
        font-size: 1.7rem;
    }

    .weatherBox p {
        font-size: .9rem;
    }
    
    .description, #high, #chill, .humidity, #speed, .symbol {
        font-size: .9rem;
    } 

    .gallerygrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gallery img{
        display: flex;
        width: 100%;
    }

}