@media screen and (min-width: 32.5em) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
        margin: 0;
    }

    body, header, nav, main, footer {
        max-width: 950px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    h2 {
        margin: 0;
    }

    header h1 {
        padding: 50px;
        margin: 0;
        text-align: center;
        
    }

    main {
        margin: 0;
        padding: 30px;
    }

    footer {
        margin: 0;
        padding: 2px;
    }
}